<div id="cositoPaCenter">
    <div class="login-container">
        <form class="row g-3" method="post">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4" name="password">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Nombre..." name="nombre">
            </div>
            <div class="col-12">
                <label for="inputAddress2" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apellido..." name="apellido">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="FechaNac" name="fechaNacimiento">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
        </form>
    </div>
</div>
